/*
	Write the basic stuff here.
	Viewports and so. Standarize this.
*/
	
body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-size: 16px;
	color: #222;
}
h1, h2, h3, h4, h5, p, a {
	color: #222;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
button {
	margin: 0;
	padding: 0;
	list-style: none; 
}

/** HEADER **********/

.header {
	padding: .5em 1em;
	padding-top: 0.7em;
	background: #fff;
	border-bottom: 1px solid #EFEFEF;
}
.headerLogo {
	width: 150px;
	height: 40px;
	background: #f4f4f4;
	display: inline-block;
}
.headerOptions {
	float: right;
	height: 40px; 
}
/* 
	Commun style for options links 
*/
.headerOptionsLink { 
	height: 40px;
	min-width: 40px;
	display: inline-block; 
	vertical-align: middle;
	position: relative;
	/* background: blue; */  /* Debug mode */
}
.headerOptionsLink a ,
.headerOptionsLink a span {
	display: inline-block;
	width: 100%; height: 100%; 
} 
.headerOptionsLink a span:before {
	font-size: 40px; /* Icon size */
	color: #bd2e2e !important;
}
.headerOptionsLink a p {
	display: none; /* Hide text for mobiles screen */
}
/* 	Specific styles for header options link */
.mobileMenuLink {
	/* background: #000; */ /* Debug mode */
	color: #bd2e2e !important; 
}
.mobileMenuButton {
	width: 100%;
	height: 100%; 
	cursor: pointer;   
	border: 0;
	background: transparent;
}
.mobileMenuLink span,
.mobileMenuLink span:before,
.mobileMenuLink span:after {
	/* background: #000; */ /* Debug mode */
	width: 100%;
	height: .35em;
	content: '';
	left: 0;
	right: 0;
	position: absolute;
	background: #bd2e2e !important;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}
.mobileMenuLink span {
	top: 50%;
}
.mobileMenuLink span:before {
	top: -10px;
}
.mobileMenuLink span:after { 
	bottom: -10px;
}

.headerMenu { 
	display: none; /* Hide menu for mobiles */
	padding: 1em 0;
	margin-top: 0.5em;
	border-top: 1px solid #EFEFEF;
}

	/* MEDIA QUERIES FOR BASIC TEMPLATE */
	/* SMARTPHONES PORTRAIT */
	@media only screen and (min-width: 300px) {


	}

	/* SMARTPHONES LANDSCAPE */
	@media only screen and (min-width: 480px) {


	}

	/* TABLETS PORTRAIT */
	@media only screen and (min-width: 768px) {


	}


	/* TABLET LANDSCAPE / DESKTOP */
	@media only screen and (min-width: 1024px) {


	}   


/*
	Here goes the specific template styles.
*/
