/*
	Write the basic stuff here.
	Viewports and so. Standarize this.
*/
	
body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-size: 16px;
	color: #222;
}
h1, h2, h3, h4, h5, p, a {
	color: #222;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
button {
	margin: 0;
	padding: 0;
	list-style: none; 
	border: 0;
	outline: 0;
}

/** HEADER **********/

.header {
	padding: .5em 1em;
	padding-top: 0.7em;
	background: #fff;
	border-bottom: 1px solid #EFEFEF;
}
.headerLogo {
	width: 150px;
	height: 40px;
	background: #f4f4f4;
	display: inline-block;
}
.HeaderLogoLink {
	width: 100%; 
	height: 100%; 
	display: block;
}
.HeaderLogoImage {
	background: url();
}
.headerOptions {
	float: right;
	height: 40px; 
}
/* 
	Commun style for options links 
*/
.headerOptionsLink { 
	height: 40px;
	min-width: 40px;
	display: inline-block; 
	vertical-align: middle;
	position: relative;
	/* background: blue; */  /* Debug mode */
}
.headerOptionsLink a ,
.headerOptionsLink a span {
	display: inline-block;
	width: 100%; height: 100%; 
} 
.headerOptionsLink a span:before {
	font-size: 40px; /* Icon size */
	color: #bd2e2e !important;
}
.headerOptionsLink a p {
	display: none; /* Hide text for mobiles screen */
}
/* 	Specific styles for header options link */
.mobileMenuLink {
	/* background: #000; */ /* Debug mode */
	color: #bd2e2e !important; 
}
.mobileMenuButton {
	width: 100%;
	height: 100%; 
	cursor: pointer;   
	border: 0;
	background: transparent;
}
.mobileMenuLink span,
.mobileMenuLink span:before,
.mobileMenuLink span:after {
	/* background: #000; */ /* Debug mode */
	width: 100%;
	height: .35em;
	content: '';
	left: 0;
	right: 0;
	position: absolute;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	background: #bd2e2e;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
} 
.mobileMenuLink span {
	top: 50%;
}
.mobileMenuLink span:before {
	top: -10px;
}
.mobileMenuLink span:after { 
	bottom: -10px;
}

.pressed span {
	background: transparent;
}
.pressed span:before {
	top: 0;
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	transform: rotate(-45deg);
} 
.pressed span:after {
	bottom: 0;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}

/* Header Menu, for mobiles */

.headerMenu { 
	display: none; /* Hide menu for mobiles */
	padding: 1em 0;
	margin-top: 0.5em;
	border-top: 1px solid #EFEFEF;
}
.nav { 
	display: block;
}
.nav li { 
	width: 100%;
	display: inline-block;
	text-align: center;
}
.navLink { 
	padding: 1em 0;
	display: block;
	font-size: 2em;
	font-weight: bold;
	color: #222;
	text-transform: uppercase;
}
.navSubtext { 
	width: 100%;
	display: inline-block;
	font-size: 0.5em !important;
	text-transform: capitalize;
	font-weight: normal;
}




	/* MEDIA QUERIES FOR BASIC TEMPLATE */
	/* SMARTPHONES PORTRAIT */
	@media only screen and (min-width: 300px) {


	}

	/* SMARTPHONES LANDSCAPE */
	@media only screen and (min-width: 480px) {


	}

	/* TABLETS PORTRAIT */
	@media only screen and (min-width: 768px) {


	}


	/* TABLET LANDSCAPE / DESKTOP */
	@media only screen and (min-width: 1024px) {


	}   


/*
	Here goes the specific template styles.
*/
